html, body {
	font-size: 16px;
	text-align: left;
}
.margin {
	margin: 3% 0;
}
/* Cabecera */
.cabecera--vida--medica{
	margin: 0;
}
.social--vmedica {
	float:right;
	font-size:.8rem;
	padding-right: 5%;
}
.vcenter {
	padding-top:20px;
}
.header img{
	max-width: 150px;
}

/* VM Title*/
.vm__back {
	background: url(../img/vm/vm_1928.jpg);
	background-size: 100%;
	background-position: right center;
	background-repeat: no-repeat;
	height: 360px;
	position: relative;
}
.vm__back__color{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c3e6f5+0,53cbf1+40,05abe0+100&0.5+0,0.8+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */

	height: 360px;
	position: absolute;
	width: 100%;
}
.vm__title {
	bottom: 5%;
	color: white;
	font-size: 6rem;
	font-weight:bold;
	left: 5%;
	position: absolute;
}
/* Descripcion */
.vm__box__descripcion {
	margin: 2% 0;
}
.vm__descripcion{
	background: #d9d9d9;
	color: #002856;
	font-size: 1.25rem;
	line-height: 1.5;
	padding: 2% 3%;
}
/* GENERALES */
.vm__titulos {
	color: white;
	font-size:1.5rem;
}
.vm__enlaces {
	color: white;
	text-decoration: none;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}
.vm__enlaces:hover {
	color:white;
	display: block;;
	text-decoration: none;
	border-bottom: 1px solid white;
}

.vm_icons {
	bottom: 20px;
	color:white;
	font-size:1.5rem;
	position: absolute;
	right: 20px;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}
.vm_icons:hover{
	color:white;
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.vm__plus__articulos {
	bottom: 30px;
	color: #0097d6;;
	right: 30px;
	font-size: 2rem;
}
.vm__plus__articulos:hover{
	color: #0097d6;;
}
.vm__icons__categorias {
	bottom: 60px;
	position: absolute;
	right: 60px;
}
.vm__float__right{
    right: 0;
    top: 30%;
}
/* DESTACADOS*/
.vm__destacados {
	color: white;
	font-size: 1rem;
	height:300px;
	padding: 15px 20px;
	position: relative;
}
.vm__disertacion {
	background-color: rgba(128, 189, 1, 1);
}
.vm__publicaciones {
	background-color: rgba(26, 102, 154, 1);
}
.vm__blog {
	border-bottom: 1px solid #0097d6;
}
.vm__flechas {
    padding-top: 100%;
    position: absolute;
}
.flechas__ajuste {

}
.more-link{
	display:none;
}
.vm__eventos {
	background-color: rgba(10, 53, 98, 1);
}
	.vm--titulo--evento {
		color: #0097d6;
		font-size: 2rem;
		font-weight: 300;
		line-height: 2.1rem;
	}
	.vm__evento__lugar {
		font-size:1.7rem;
	}
	.vm__evento__fecha {
		font-size:1.4rem;
	}
.vm__isotipo {
	background-image: url("../img/vm/isotipo.png");
    background-position: right 5% bottom 5%;
    background-repeat: no-repeat;
    background-size: 50px auto;
}
/* ARTICULOS*/
.vm__articulo{
	padding: 0 50px 50px;
	margin-bottom: 5%;
}
.vm__borde__medio {
	border-right: 2px solid #0097d6;
}
.margin--bottom{
	margin-bottom: 3%;
}
	.vm__articulo__title{
		color: #0097d6;
		line-height:1rem;
	}
		.vm__articulo__titulo{ 
			color: #0097d6;
			font-size:1.5rem;
		}
		.vm__articulo__subtitulo{
			font-size:1.3rem;
		}
	.vm__articulo__post {
		margin: 5% 0;
		color: #002856;
	}

/* resumen */

.vm__resumen {
	background: url(../img/vm__resumen.jpg) no-repeat 100%;
}
	.vm__destacados__titulos {
		font-size: 3rem;
	}
	.vm__destacados__titulos:before {
	content:' ';
	padding: 0 35px;
	}
		.vm__destacados--publicaciones:before{
			background: url(../img/vm/publicaciones.png) no-repeat;
		}
		.vm__destacados--disertaciones:before{
			background: url(../img/vm/disertaciones.png) no-repeat;
		}
		.vm__destacados--eventos:before{
			background: url(../img/vm/eventos.png) no-repeat;
		}
	.vm__resumen__contenedor{
		opacity: .8;
		padding: 2% 0;
	}
	.vm__contenedor__listas {
		font-size:1.3rem;
		list-style: none;
		text-align:justify;
		padding: 1% 4% 0 0;
		position: relative;
	}

/* BLOG VIDA MEDICA*/
.blog--vida--medica {
	line-height:2rem;
	font-size: 1.2rem;
}
.mas--resumen {
	display: none;
}